.container-fluid {
    background-color: black;
    background-image: url("../images/dodge.jpeg");
}

h3 {
    text-align: center;
}

.timer {
    text-align: center;
    visibility: visible;
    background-color: dodgerblue;
    color: white;
}   

#a, #b, #c, #d {
    visibility: visible;
    background-color: dodgerblue;
    color: white;
   text-align: center;
   align-items: center;
}

  




